<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
    />
  </head>
  <body>
    <section id="menu">
      <div class="logo">
        <img src="" alt="Logo" />
        <h2>AutoMate</h2>
      </div>
      <div class="items">
        <ul>
          <li><i class="fas fa-home"></i> <a href="/">Home</a></li>
          <li><i class="fa-regular fa-wrench"></i> <a href="/mech">Mechanic</a></li>
          <li>
            <i class="fa-regular fa-user"></i>
            <a href="/con">Customer</a>
          </li>
          <li><i class="fa-duotone fa-users"></i> <a href="#">About Us</a></li>
        </ul>
      </div>
    </section>

    <section id="interface">
      <div class="navigation">
        <div class="n1">
          <div>
            <i id="menu-btn" class="fas fa-bars"></i>
          </div>
          <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search..." />
          </div>
        </div>
        <div class="profile">
          <i class="fa-solid fa-bell-ring"></i>
          <img src="" />
        </div>
      </div>

      <h3 class="i-name">Dashboard</h3>

      <div class="values">
        <div class="val-box">
          <!-- <i class="fa-solid fa-badge-check" style="color: #63E6BE;"></i> -->
          <i class="fa-solid fa-clipboard-list-check"></i>
          <div>
            <span><a href="#">Completed</a></span>
            <h2>8,267</h2>
          </div>
        </div>
        <div class="val-box">
          <i class="fa-solid fa-timer"></i>
          <div>
            <span><a href="#">Pending</a></span>
            <h2>8,267</h2>
          </div>
        </div>
        <div class="val-box">
          <i class="fa-light fa-hand"></i>
          <div>
            <span><a href="#">Requests</a></span>
            <h2>8,267</h2>
          </div>
        </div>
      </div>
      <div class="board">
        <table width="100%">
          <thead>
            <tr>
              <td>Name</td>
              <td>Title</td>
              <td>Status</td>
              <td>Role</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="people">
                <img src="" alt="" />
                <div class="people-description">
                  <h5>Ram</h5>
                  <p>ram@gmail.com</p>
                </div>
              </td>
              <td class="people-des">
                <h5>Software Engineer</h5>
                <p>Web Dev</p>
              </td>
              <td class="active">
                <p>Active</p>
              </td>
              <td class="role">
                <p>Owner</p>
              </td>
              <td class="edit">
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td class="people">
                <img src="" alt="" />
                <div class="people-description">
                  <h5>Ram</h5>
                  <p>ram@gmail.com</p>
                </div>
              </td>
              <td class="people-des">
                <h5>Software Engineer</h5>
                <p>Web Dev</p>
              </td>
              <td class="active">
                <p>Active</p>
              </td>
              <td class="role">
                <p>Owner</p>
              </td>
              <td class="edit">
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td class="people">
                <img src="" alt="" />
                <div class="people-description">
                  <h5>Ram</h5>
                  <p>ram@gmail.com</p>
                </div>
              </td>
              <td class="people-des">
                <h5>Software Engineer</h5>
                <p>Web Dev</p>
              </td>
              <td class="active">
                <p>Active</p>
              </td>
              <td class="role">
                <p>Owner</p>
              </td>
              <td class="edit">
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td class="people">
                <img src="" alt="" />
                <div class="people-description">
                  <h5>Ram</h5>
                  <p>ram@gmail.com</p>
                </div>
              </td>
              <td class="people-des">
                <h5>Software Engineer</h5>
                <p>Web Dev</p>
              </td>
              <td class="active">
                <p>Active</p>
              </td>
              <td class="role">
                <p>Owner</p>
              </td>
              <td class="edit">
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td class="people">
                <img src="" alt="" />
                <div class="people-description">
                  <h5>Ram</h5>
                  <p>ram@gmail.com</p>
                </div>
              </td>
              <td class="people-des">
                <h5>Software Engineer</h5>
                <p>Web Dev</p>
              </td>
              <td class="active">
                <p>Active</p>
              </td>
              <td class="role">
                <p>Owner</p>
              </td>
              <td class="edit">
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td class="people">
                <img src="" alt="" />
                <div class="people-description">
                  <h5>Ram</h5>
                  <p>ram@gmail.com</p>
                </div>
              </td>
              <td class="people-des">
                <h5>Software Engineer</h5>
                <p>Web Dev</p>
              </td>
              <td class="active">
                <p>Active</p>
              </td>
              <td class="role">
                <p>Owner</p>
              </td>
              <td class="edit">
                <a href="#">Edit</a>
              </td>
            </tr>
            <tr>
              <td class="people">
                <img src="" alt="" />
                <div class="people-description">
                  <h5>Ram</h5>
                  <p>ram@gmail.com</p>
                </div>
              </td>
              <td class="people-des">
                <h5>Software Engineer</h5>
                <p>Web Dev</p>
              </td>
              <td class="active">
                <p>Active</p>
              </td>
              <td class="role">
                <p>Owner</p>
              </td>
              <td class="edit">
                <a href="#">Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <script>
      const menuButton = document.getElementById("menu-btn");
      const menu = document.getElementById("menu");

      menuButton.addEventListener("click", function () {
        menu.classList.toggle("active");
      });
    </script>
  </body>
</html>
