* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    padding: 1.5rem 7rem;
    box-shadow: 0 0 10px rgba(©, 0, 0, 0.15)
}

.nav .logo h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2a2a2a;
}

.nav .navigation ul {
    display: flex;
    flex-direction: row;
}

.nav .navigation ul li {
    list-style: none;
    padding: 0 1rem;
}

.nav .navigation ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #2a2a2a;
    transition: 0.3s ease;
}

.nav .navigation ul li a:hover {
    color: #fe2f40;
}

.nav .navigation ul li a span {
    background-color: #fe3f40;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px;
    border-radius: 23px;
    letter-spacing: 0.25px;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 7rem;
    padding-top: 2rem;
}

.banner::after {
    content: "";
    background-image: url(Left-Background-img.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 90px;
    width: 493px;
    height: 667px;
    z-index: -1;
}

.banner::before {
    content: "";
    background-image: url(Right-Background-img.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 90px;
    width: 98px;
    height: 290px;
    z-index: 1;
}

.banner .text {
    width: 45%;
}

.banner .text h2 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 4px;
    color: #fe3f40;
    text-transform: uppercase;
}

.banner .text h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 65px;
    padding-bottom: 10px;
    letter-spacing: 3px;
    color: rgba(19, 200, 241, 0.8);
}

.banner .text p {
    font-size: .9rem;
    line-height: 30px;
    padding-bottom: 12px;
    letter-spacing: 1px;
    color: #2a2a2a;
    text-transform: uppercase;
}

.banner .image {
    width: 45%;
}

.banner .image img {
    width: 100%;
}